body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --primary: #13ba61;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

.progress-bar {
  height: 5px; width: 300px; margin: 0 auto; display: flex; align-items: center; justify-content: flex-start ;
}
.progress-bar span { height: 5px; background-color:var(--primary); width: 0;}

.App { width: 300px; margin: 0 auto; padding: 20px;}
.form-error { font-size: 14px; letter-spacing: 1px; color: red; margin-top: 5px;}
.form-input { margin-bottom: 10px; }
input { padding: 10px;;}